h2, p {
  text-align: center;
}

.step {
  margin-top: 36px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #8e1837;
  padding: 24px;
}
h1 > span {
  font-weight: 300;
  color: #5e5e5e;
}
h2 {
  font-weight: 300;
  color: #5e5e5e;
}
h2 > span {
  font-weight: 500;
  color: #8e1837;
}
p {
  color: #343a40;
}
.instructions {
  padding: 0px 24px;
}
.settings {
  display: grid;
  place-content: center;
  gap: 8px;
  padding: 12px 24px;
  background-color: #f2eced;
  width: fit-content;
  margin: auto;
  margin-bottom: 32px;
  div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
    label {
      color: #343a40;
    }
  }
}
a:active, a:visited, a {
  color: #8e1837;
}
.input-container {
  display: grid;
  place-content: center;
}
textarea {
  resize: none;
  padding: 12px;
  border: 2px solid #343a40;
}
button, #generate {
  all: unset;
  cursor: pointer;
  background-color: #8e1837;
  font-weight: 500;
  color: white;
  font-size: large;
  display: grid;
  place-content: center;
  margin: auto;
}
button {
  margin-bottom: 24px;
}